:root {
    --hover-color: #C78C19;
    --active-color: #088C19;
}

    /* cabeçalho */

header {
    background-color: #BBB;
    padding: 20px 0px;
}

.container {
    position: relative;
    width: 940px;
    margin: 0px auto;
}

.titulo-principal {
    font-size: 36px;
    font-weight: bold;
    margin-left: -20px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin: 0px 0px 0px 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: var(--hover-color);
}

nav a:active {
    color: var(--active-color);
}
    



    /* corpo */

#banner {
    width: 100%
}

.principal {
    background: #ccc;
    padding: 30px;
}

.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center; 
}

#missao {
    font-size: 20px; 
}
 
em strong {
    color: #f00;
}

.beneficios {
    background: #fff;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.itens {
    font-style: italic;
}

.imagem-beneficios {
    width: 50%;
}

    /* rodapé */

footer {
    text-align: center;
    background-image: url(imgs/bg.jpg);
    padding: 40px;
} 

.copyright {
    font-size: 13px;
    color: #FFF;
    margin-top: 20px;
}