:root {
    --hover-color: #C78C19;
    --active-color: #088C19;
}

body {
    font-family: 'Montserrat', sans-serif;
}
    /* cabeçalho */

header {
    background-color: #BBB;
    padding: 20px 0px;
}

.container {
    position: relative;
    width: 940px;
    margin: 0px auto;
}

.titulo-principal {
    font-size: 36px;
    font-weight: bold;
    margin-left: -20px;
}

nav {
    position: absolute;
    top: 110px;
    right: 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 19px;
    margin: 0px 0px 0px 15px;
}

nav a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover {
    color: var(--hover-color);
}

nav a:active {
    color: var(--active-color);
}
    
    /* corpo */

.banner {
    width: 100%
}

.principal {
    padding: 3em 0;
    background: #FEFEFE;
    width: 940px;
	margin: 0 auto;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}

/* .titulo-principal::first-letter {
    font-weight: bolder;
} */

/* .titulo-principal::before {
    content: "$$$$[";
}

.titulo-principal::after {
    content: "]";
} */

/* p::first-line {
    font-style: italic;
} */

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
    border-radius: 0.4em;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

p {
    text-align: center; 
}

#missao {
    font-size: 20px; 
}
 
.mapa {
    padding: 3em 0;
    background: linear-gradient(#FEFEFE,#888);
}

.mapa-conteudo {
    width: 940px;
	margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em;
    text-align: center;
}

.beneficios {
    background: #888;
    padding: 20px;
    padding: 3em 0;
    /* box-shadow: inset 1 1 30px blue; */
}

/* ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
} */

.itens {
    line-height: 1.5em;
}

.itens::before {
    content: "✶";
}

.itens:nth-child(1) {
    font-weight: bold;
}

/* .itens:first-child {
    font-weight: bold;
} */

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto;
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.imagem-beneficios {
    width: 50%;
    opacity: 1;
    border-radius: 0.5em;
    box-shadow: 10px 10px 10px #000;
}

.imagem-beneficios:hover {
    opacity: 0.4;
    transition: 400ms;
}

.video {
    width: 560px;
    margin: 2em auto;
}

    /* rodapé */

footer {
    text-align: center;
    background-image: url(imgs/bg.jpg);
    padding: 40px;
} 

.copyright {
    font-size: 13px;
    color: #FFF;
    margin-top: 20px;
}

    /* Responsividade para celulares */

@media screen and (max-width: 480px) {
    .container, .principal, .mapa-conteudo, .conteudo-beneficios, .video {
        width: auto;
    }
    h1 {
        text-align: center;
    }
    nav {
        position: static;
    }
    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}